{% extends "layout_2.html" %}

{% block content %}
	  <style>
		  .container{background:#777;
			  height:30rem;}
		  .background{background:black;
			  height:40rem;}
	  </style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
		<div class="container">
			<img src="..." class="d-block w-100" alt="1">
			<p> Does this show up? </p>
		</div>
    </div>
    <div class="carousel-item">
		<div class="container">
		  <img src="..." class="d-block w-100" alt="2">
		  <p> Does this show up? </p>
		</div>
    </div>
    <div class="carousel-item">
		<div class="container">
			<img src="..." class="d-block w-100" alt="3">
		</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

{% endblock content %}


